{% extends '../layout.njk' %}
{% import '../../parts/chef-details.njk' as show %}

{% block head %}
    <title>Admin Foodfy - Chef {{chef.name}}</title>
{% endblock %}

{% block content %}
    {% call show.render(chef, 'hide') %}
        <div class='upper-wrapper'>
            <h1>Chef: {{chef.name}}</h1>
            <a class='button link' href='/admin/chefs/{{chef.id}}/edit'>Editar chef</a>
        </div>
    {% endcall %}
{% endblock %}