{% extends '../layout.njk' %}

{% block head %}
    <title>Admin Foodfy - Usuários</title>
{% endblock %}

{% block content %}
    <section class='container users-container'>
        <div class='upper-wrapper'>
            <h1>Usuários</h1>
            <a class='button link' href='/admin/users/register'>Novo</a>
        </div>

        <div class='users'>
            {% for user in users %}
                <div class='item' > 
                    <div class='user-info'>
                        <h3>{{user.name}}</h3>
                        <h4>{{user.email}}</h4>
                    </div>

                    <div class='actions'>
                        <a href='/admin/users/{{user.id}}'>Editar</a>

                        <form method='POST' action='/admin/users?_method=DELETE' id='form-delete'>
                            <input type='hidden' name='id' value={{user.id}}>
                            <button class='button remove' type='submit'>Remover</button>
                        </form>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}