{% extends '../layout.njk' %}

{% block head %}
    <title>Admin Foodfy - Usuários Cadastro</title>
{% endblock %}

{% block content%}
    <section class='container users-container'>
        <form  method='POST' action='/admin/users'>
            <div class='upper-wrapper grid'>
                <h1>Criar Usuário</h1>

                <button class='button' type='submit'>Salvar</button>
                <a class='button cancel link' href='/admin/users'>Cancelar</a>  
            </div>

            <div class='fields'>
                {% include 'admin/users/fields.njk' %}
            </div>
        </form>
    </section>
{% endblock %}