{% extends './layout.njk' %}
{% import '../parts/chefs-show.njk' as show %}

{% block head %}
    <title>Foodfy - Chefs</title>
{% endblock %}

{% block content %}

    {{show.chefs('', '', chefs)}}

{% endblock %}