{% extends './layout.njk' %}
{% import '../parts/recipes-list.njk' as show %}

{% block head %}
    <title>Foodfy</title>
{% endblock %}

{% block content %}
    <section class='container home'>
        <div class='banner'>
            <div class='banner-info'>
                <h1>As melhores receitas</h1>
                <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>
            </div>

            <div class='banner-img'>
                <img src='/assets/chef.png' alt='Imagem do chef'>
            </div>
        </div>
    </section>
    
    {% call show.render('section-recipes', recipes, '') %}
       <div class='upper-wrapper'>
            <h1>Mais acessadas</h1>  
        </div>
    {% endcall %}
{% endblock %}