{% extends './layout.njk' %}
{% import './parts/section-recipes.njk' as section %}

{% block head %}
    <title>Foodfy - Home</title>
{% endblock %}

{% block content %}
    <section class='container home'>
        <div class='banner'>
            <div class='banner-info'>
                <h1>As melhores receitas</h1>
                <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>
            </div>

            <div class='banner-img'>
                <img src='https://raw.githubusercontent.com/Rocketseat/bootcamp-launchbase-desafios-02/master/layouts/assets/chef.png' alt='Foodfy chef'>
            </div>
        </div>
    </section>
    
    {{section.recipes('Mais Acessadas', recipes)}}
{% endblock %}