<!DOCTYPE njk>
<html lang='pt-br'>
    <head>
        <meta charset='UTF-8'>

       {% block head %}
            <title>Foodfy</title>
        {% endblock %}

        {% include './parts/styles.njk' %}
    </head>
    
    <body>
        {% include './parts/header.njk' %}
        
        {% block content %}
        {% endblock %}
        
        {% include './parts/footer.njk' %}
    </body>
</html>