{% extends './layout.njk' %}
{% import './parts/section-recipes.njk' as section %}

{% block head %}
    <title>Foodfy - Receitas</title>
{% endblock %}

{% block content %}

    {{section.recipes('Receitas', recipes)}}

{% endblock %}