{% extends './layout.njk' %}
{% import '../parts/recipes-list.njk' as show %}

{% block head %}
    <title>Foodfy - Receitas</title>
{% endblock %}

{% block content %}
    {% call show.render('section-recipes', recipes, '') %}
    {% endcall %}
{% endblock %}