body {
    font-family: 'Helvetica', sans-serif;
}
    
.header-admin {
    background: var(--color-primary);
}

.header-admin .header-container {
    width: 940px;
    height: 80px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 150px 1fr 1fr;
    align-items: center;
}

.header-admin .links a {
    color: var(--color-secondary-ligther);
}

.header-admin .links a:hover {
    color: var(--color-tertiary);
}

.logout {
    justify-self: flex-end;
}

.logout button {
    font-size: 15px;
    font-weight: bold;
    color: var(--color-tertiary);
    background: none;
    cursor: pointer;
}

.upper-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px 0;
}

.upper-wrapper.grid {
    display: grid;
    grid-template-columns: 70% 1fr 1fr;
}

.upper-wrapper h1 {
    font-size: 24px;
    color: var(--color-primary);
}

.upper-wrapper.grid .cancel {
    background: var(--color-cancel);
    transition: 300ms;
}

.upper-wrapper.grid .cancel:hover { 
    background: var(--color-delete);
}

.upper-wrapper.grid .delete {
    background: var(--color-delete);
}

.item h3 {
    font-size: 16px;
    color: var(--color-primary);
    margin: 10px 0;
}

.fields .checkbox {
    display: flex;
    align-items: baseline;
}

.fields .item.checkbox h3 {
    margin-left: 10px;
}

.fields .item label {
    font-size: 16px;
    font-weight: bold;
}

    /* === PHOTOS UPLOAD === */

.item #photos-upload {
    position: relative;
    width: 150px;
}

.item #photos-input {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.item #photos-upload i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 175%;
    color: var(--color-secondary);
    height: 150px;
    border-radius: 3.5px;
    border: 1px solid var(--color-tertiary-darker);
}

.item #photos-preview {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    width: 100%;
    margin: 8px 0;
}

.item #photos-preview img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

#photos-preview .photo {
    position: relative;
}

#photos-preview .photo i {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.8);
    color: red;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 500%;
    cursor: pointer;
    transition: opacity 200ms;
    opacity: 0;
}

#photos-preview .photo:hover i {
    opacity: 1;
}