.header-session .logo {
    margin: 40px 0;
}

.header-session .logo  a{
    display: flex;
    justify-content: center;
}

.session-container form {
    width: 500px;
    margin: 100px auto ;
}

.session-container form h1 {
    font-size: 24px;
    color: var(--color-primary);
    text-align: center;
    margin-bottom: 30px;
}

.session-container .item + .item {
    margin: 30px 0;
}

.session-container .item h3 {
    font-size: 16px;
    color: var(--color-primary);
    margin: 10px 0;
}

.session-container .actions {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 20px;
}

.session-container .actions a {
    justify-self: flex-start;
    font-size: 16px;
    font-weight: bold;
    color: var(--color-secondary-ligther);
}

.session-container .actions.single {
    justify-content: flex-end;
}