
#photos-wrapper {
    display: flex;
}

.input-wrapper #photos-upload {
    position: relative;
    display: flex;
    overflow: hidden;
    width: 152px;
    margin-right: 10px;
}

.input-wrapper #photos-upload i{
    border-radius: 3.5px;
    box-shadow: 0 2px 2px -6px #333;
    background-color: white;
    border: 1px solid #DDDDDD;
    color: #999999;
    font-size: 300%;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-wrapper #photos-input  {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;

}

    /* === PHOTOS PREVIEW === */

.input-wrapper #photos-preview {
    display: grid;
    grid-template-columns: repeat(5, 150px);
    gap: 10px;
}

.input-wrapper #photos-preview img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

#photos-preview .photo {
    position: relative;
}

#photos-preview .photo i {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.8);
    color: red;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 300%;
    cursor: pointer;
    transition: opacity 200ms;
    opacity: 0;
}

#photos-preview .photo:hover i {
    opacity: 1;
}

    /* === PHOTO CHEF === */

.input-wrapper #photos-upload p {
    border-radius: 4px;
    padding: 8px 16px;
    background-color: var(--primary-color);
    color: white;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 0.3;
}

#photo-chef-name span {
margin-bottom: 30px;
}


.photo-chef-preview img{
    border-radius: 5%;
    margin-bottom: 15px;
}

    /* === RECIPE GALLERY === */

 .gallery {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.highlight > img {
    width: 100%;
    height: 280px;

}

 .gallery-preview {
    display: grid;
    grid-template-columns: repeat(5, 50px);
    gap: 15px;
    margin-top: 10px;
    justify-content: end;
}

.gallery-preview img {
    height: 50px;
    width: 100%;
    object-fit: cover;
    opacity: 0.6;
    cursor: pointer;
    transition: 200ms;
    border-radius: 3.5px;
}

.gallery-preview img:nth-child(1) {
    grid-column-start: 5;
    grid-row-start: -1;
}

.gallery-preview img:nth-child(2) {
    grid-column-start: 4;
    grid-row-start: -1;
}

.gallery-preview img:nth-child(3) {
    grid-column-start: 3;
    grid-row-start: -1;
}

.gallery-preview img:nth-child(4) {
    grid-column-start: 2;
    grid-row-start: -1;
}

.gallery-preview img:nth-child(5) {
    grid-column-start: 1;
}

.gallery-preview img:hover,
.gallery-preview img.active {
    opacity: 1;
}

.highlight .lightbox-target {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7);
    overflow: hidden;
    z-index: 100;
    top: -100%;
    left: 0;
    opacity: 0;
    transition: opacity 400ms;
}

.highlight .lightbox-target img {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: white;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, .3);
    width: 90%;
    height: 90%;
    object-fit: contain;
}

.highlight a.lightbox-close {
    width: 50px;
    height: 50px;
    background: white;
    position: absolute;
    top: -80px;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 400ms;
    text-decoration: none;
    color: #999999;
}