<header class='header-admin'>
    <div class='container header-container'>
        <div class='logo'>
            <a href='/'>
                <img src='/assets/foodfy.png' alt='Foodfy logo'>
            </a>
        </div>

        <div class='links'>
            <a href='/admin/recipes'>Receitas</a>
            <a href='/admin/chefs'>Chefs</a>
            <a href='/admin/users'>Usuários</a>
        </div>

        <form action='/logout' method='POST' class='logout'>
            <button>Sair</button>
        </form>
    </div>
</header>