<link href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Helvetica:400,700&display=swap' rel='stylesheet'>
<link rel='stylesheet' href='/styles/parts/index.css'>
<link rel='stylesheet' href='/styles/admin/index.css'>
<link rel='stylesheet' href='/styles/admin/chefs.css'>
<link rel='stylesheet' href='/styles/admin/recipes.css'>
<link rel='stylesheet' href='/styles/admin/session.css'>
<link rel='stylesheet' href='/styles/admin/users.css'>
<link rel='stylesheet' href='/styles/parts/recipe.css'>
<link rel='stylesheet' href='/styles/parts/messages.css'>
<link rel='stylesheet' href='/styles/parts/chefs.css'>
<link rel='stylesheet' href='/styles/parts/chef.css'>
