.about {
    width: 940px;
    margin: 0 auto;
}

.about h2 {
    font-size: 24px;
    margin: 20px 0;
}

.about p {
    font-size: 18px;
    line-height: 28px;
    color: var(--text-base);
    margin-bottom: 20px;
}