.about h2 {
    font-size: 24px;
    margin: 20px 0;
}

.about p {
    font-size: 18px;
    line-height: 28px;
    color: var(--color-secondary-darker);
    margin-bottom: 20px;
}

.about div:last-child {
    margin-bottom: 50px;
}