.home {
    width: 940px;
    height: 366px;
    margin: 0 auto;
    background: #FBDFDB;
    border-radius: 30px;
    margin-bottom: 50px;
}

.home .banner {
    display: flex;
    justify-content: space-between;
    margin: 20px 65px 0;
}

.home .banner-info {
    width: 316px;
    align-self: center;
}

.home .banner-info h1 { 
    font-size: 32px;
    line-height: 42px;
}

.home .banner-info p {
    font-size: 18px;
    line-height: 28px;
    opacity: 0.7;
}

.home .banner-img {
    align-self: end;
}