.recipes-container {
    width: 940px;
    margin: 0 auto;
}

.recipes-container h2 {
    font-size: 24px;
    color: var(--text-in-primary);
    margin-bottom: 20px;
}

.recipes-container .recipes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.recipes-container .recipe-image img{
    height: 140px;
    width: 100%;
    border-radius: 15px;
    object-fit: cover;
    cursor: pointer;
}

.recipes-container .recipe-info {
    margin: 20px 0;
}

.recipes-container .recipe-info h3  {
    font-size: 18px;
    font-weight: normal;
    line-height: 28px;
    color: var(--text-in-primary);
}

.recipes-container .recipe-info h4 {
    font-size: 14px;
    font-weight: normal;
    color: var(--text-info);
}