<div class='item'>
    <h3>Nome</h3>
    <div class='input'>
        <input 
            type='text' 
            name='name' 
            placeholder='Digite o nome completo'
            value='{{user.name}}'
        >
    </div>
</div>

<div class='item'>
    <h3>Email</h3>
    <div class='input'>
        <input 
            type='email' 
            name='email' 
            value='{{user.email}}'
            placeholder='Digite o email'
            onblur='Validate.apply(this, 'isEmail')'
        >
    </div>
</div>

<div class='item'>
    <h3>Senha</h3>
    <div class='input'>
        <input 
            type='password' 
            name='password' 
            placeholder='Digite sua senha'
        >
    </div>
</div>


