{% extends '../layout.njk' %}

{% block head %}
    <title>Admin Foodfy - Edição Receita {{recipe.title}}</title>
{% endblock %}

{% block content%}
    <section class='container recipes-container'>
        <div class='upper-wrapper grid'>
            <h1>Editando receita</h1>
        
            <form method='POST' action='/admin/recipes?_method=DELETE' id='form-delete'>
                <input type='hidden' name='id' value={{recipe.id}}>

                <button class='button delete' type='submit'>Deletar</button>
            </form>

            <button class='button' type='submit' form='form-edit'>Salvar receita</button>  
        </div>
        
        <form method='POST' action='/admin/recipes?_method=PUT' id='form-edit' enctype='multipart/form-data'>
           
            <div class='fields'>
                {% include 'admin/recipes/fields.njk' %}
            </div>

            <input 
                type='hidden' 
                name='id' 
                value={{recipe.id}}
            >
        </form>   
    </section>
{% endblock %}