{% macro details(title, classes, chefs) %}
    <main class='container chef-details'>
        <div class='upper-wrapper'>
            <h1>Chef: {{chef.name}}</h1>
        </div>
        
        <div class='banner'>
            <div class='banner-img'>
                <img 
                    src='{{chef.src}}' 
                    alt='Imagem de {{chef.name}}'
                >
            </div>
        </div>

        <div class='chef-info'>
            <h2>Julia Kinito{{chef.name}}</h2>
            <h3>4 receitas{{chefs.total_recipes}}</h3> 
        </div>

        <div class='recipes'>
            <h4>Receitas</h4>

            {% for recipe in recipes %}
                {# section recipes under construction #}
            {% endfor %}
        </div>
    </main>
{% endmacro %}