{% macro render(chefs, class, link) %}
    <main class='container chefs-list {{class}}'>
        {{ caller() }}

        <div class='chefs'>
            {% for chef in chefs %}
                <div class='item'>
                    <div class='chef-image'>
                        <a href='{{link}}/{{chef.id}}'>
                            <img 
                                src='{{chef.src}}' 
                                alt='Imagem de {{chef.name}}'
                                {% if chef.img == '' %}
                                    src='http://placehold.it/600x300?text=PRODUTO SEM FOTO'
                                {% endif %}
                            >
                        </a>
                    </div>

                    <div class='chef-info'>
                        <h2>{{chef.name}}</h2>
                        <h3>{{chef.total_recipes}} receitas</h3>
                        <a class='button visualize' href='{{link}}/{{chef.id}}'>Visualizar</a>
                    </div>
                </div>

                {% if chefs.recipeIndex %}
                {% endif %}

            {% endfor %}
        </div>
    </main>
{% endmacro %}