{% macro recipes(title, recipes) %}
    <section class="container section-recipes">
        <h2>{{title}}</h2>

        <div class='recipes'>''
            {% for recipe in recipes %}
                <div class='item'> 
                    <div class='recipe-image'>
                        <a href='/recipes/{{recipe.id}}' >
                            <img  
                                src='{{recipe.img}}' 
                                alt='{{recipe.title}}'
                                {% if recipe.img == '' %}
                                    src='http://placehold.it/600x300?text=PRODUTO SEM FOTO'
                                {% endif %}
                            >
                        </a>
                    </div>

                    <div class='recipe-info'>
                        <h3>{{recipe.title}}</h3>
                        <h4>por {{recipe.chef_name}}</h4>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endmacro %}