<link href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap' rel='stylesheet'>
<link rel='stylesheet' href='/styles/home/index.css'>
<link rel='stylesheet' href='/styles/home/about.css'>
<link rel='stylesheet' href='/styles/parts/chefs.css'>
<link rel='stylesheet' href='/styles/home/recipes.css'>
<link rel='stylesheet' href='/styles/parts/photos.css'>